<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default2}">

<th:block layout:fragment="center-image">
  <th:block th:with="title='내 정보 수정', title1=${title1}, title2=${title2}, leftImg='', rightImg=''">
    <th:block th:replace="fragments/center-image :: center-image-title(${title}, ${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
  </th:block>
</th:block>

<th:block layout:fragment="head">
  <link rel="stylesheet" th:href="@{'/assets/css/page/myInfo.css'}" />
</th:block>

<th:block layout:fragment="content">
  <div class="my-account-wrapper pb-100" style="padding: 30px 0px 50px 0px;">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <!-- My Account Page Start -->
          <div class="myaccount-page-wrapper">

            <!-- My Account Tab Menu Start -->
            <div class="row">
              <div class="col-lg-12 col-md-8">
                <div id="account-info">
                  <div class="myaccount-content">
                    <h3>내 정보</h3>
                    <div class="account-details-form">

                      <form id="updt-form">
                        <input type="hidden" id="userUid" th:value="${view?.uid}">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="single-input-item">
                              <label for="userNm" class="required">이름</label>
                              <input class="form-control" type="text" id="userNm" name="userNm" th:value="${view?.userNm}">
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="single-input-item">
                              <label for="userId" class="required">ID</label>
                              <input class="form-control" type="text" id="userId" name="userId" readonly disabled th:value="${view?.userId}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="single-input-item">
                              <label for="userTel" class="required">전화번호</label>
                              <input class="form-control" type="text" id="userTel" name="userTel" placeholder="000-0000-0000 or 000-000-0000"
                                     pattern="^(010|011|016|017|018|019)-\d{3,4}-\d{4}$" th:value="${view?.userTel}">
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="single-input-item">
                              <input type="hidden" id="userEmail-origin" th:value="${view?.userEmail}">
                              <label for="userEmail" class="required">이메일</label>
                              <input class="form-control" type="email" id="userEmail" name="userEmail" disabled readonly th:value="${view?.userEmail}">
                              <div style="display: flex; justify-content: end;">
                                <div class="page-more-update-wrapper btn-control-wrapper">
                                  <div class="page-more-update btn-hover">
                                    <a href="javascript:void(0);" id="userEmail-btn">
                                      <span>변경하기</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <fieldset>
                          <legend>Password change</legend>
                          <div class="row">

                            <div class="col-lg-6">
                              <div class="single-input-item">
                                <label for="password" class="required">비밀번호</label>
                                <input class="form-control" type="password" id="password" name="password" placeholder="8~20자" pattern=".{8,20}" readonly disabled>
                              </div>
                            </div>

                            <div class="col-lg-6"><div class="single-input-item">
                                <label for="passwordChk" class="required">비밀번호 확인</label>
                                <input class="form-control" type="password" id="passwordChk" placeholder="8~20자" pattern=".{8,20}" readonly disabled required>
                                <label class="error-message" id="passwordChk-error"></label>
                                <div class="invalid-feedback">비밀번호를 확인해주세요.</div>
                              </div>
                            </div>

                            <div style="display: flex; justify-content: end;">
                              <div class="page-more-update-wrapper btn-control-wrapper">
                                <div class="page-more-update btn-hover">
                                  <a href="javascript:void(0);" id="password-btn">
                                    <span>변경하기</span>
                                  </a>
                                </div>
                              </div>
                            </div>

                          </div>
                        </fieldset>
                        <div class="single-input-item btn-hover">
                          <button class="check-btn sqr-btn" id="updt-btn">수정</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- My Account Page End -->

        </div>
      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    const uid = $("#userUid").val()
    let changeEmail = false
    let emailChk = true
    const userEmailInput = $("#userEmail")
    const userEmailBtn = $("#userEmail-btn")
    const originEmail = $("#userEmail-origin").val();

    let changePassword = false
    const passwordInput = $("#password")
    const passwordChkInput = $("#passwordChk")
    const passwordBtn = $("#password-btn")

    $(function(e) {

      formatPhoneNumber()

      /* 전화번호 입력에 따른 포멧 유지 */
      $(document).on("input", "#userTel", function () {
        formatPhoneNumber();
      });

      /* 이메일 변경하기 버튼 클릭 */
      userEmailBtn.on("click", function(e) {

        if(!changeEmail) {
          changeEmail = true
          emailChk = false
          userEmailInput.prop('readonly', false).prop('disabled', false)
          userEmailBtn.text('이메일 중복 확인')
        } else {
          const newEmail = userEmailInput.val()
          if(originEmail === newEmail) {
            Util.confirm('기존 사용자의 이메일과 동일합니다. <br> 그대로 사용하시겠습니까?').then((isOk) => {
              if(isOk) {
                userEmailInput.removeClass('is-invalid')
                emailChk = true
                userEmailInput.prop('readonly', true).prop('disabled', true)
                userEmailBtn.css('pointer-events', 'none').addClass('btn-disabled');
              }
            })
          } else {
            // 1. chk email valid
            const userEmailChk = userEmailInput[0]
            if(!userEmailChk.validity.valid) userEmailInput.addClass('is-invalid')
            else {
              // 2. get email chk
              const userEmail = userEmailInput.val()
              Http.get(`/cetus/api/user/check-email?userEmail=${userEmail}`).then((res) => {
                switch(res['findUserCnt']) {
                  case 0:
                    emailChk = true
                    userEmailInput.removeClass('is-invalid')
                    userEmailInput.prop('readonly', true).prop('disabled', true)
                    userEmailBtn.css('pointer-events', 'none').addClass('btn-disabled');
                    break;
                  case 1:
                    emailChk = false
                    break;
                  case 2:
                    emailChk = false
                    break;
                }
                Util.alert(res['message'])
              })
            }
          }
        }
      })

      /* 비밀번호 변경 버튼 클릭 */
      passwordBtn.on("click", function(e) {
        if(!changePassword) {
          changePassword = true
          $("#password").prop('readonly', false).prop('disabled', false)
          $("#passwordChk").prop('readonly', false).prop('disabled', false)
          $("#password-btn").css('pointer-events', 'none').addClass('btn-disabled');
        }
      })

      $("#updt-btn").on('click', function(e) {
        e.preventDefault();
        FormDataToObj.getParameter("updt-form").then(obj => {
          if(!emailChk) Util.alert("이메일 중복 확인을 해주세요.")
          else if( changePassword && ( passwordInput.val() != passwordChkInput.val() ) ) Util.alert("비밀번호가 일치하지 않습니다.")
          else {

            obj['userEmail'] = userEmailInput.val()
            Http.put(`/cetus/api/user/${uid}`, obj, true).then(() => {
              Util.alert("내 정보가 수정되었습니다.").then(() => {
                window.location.href = `/asp/myInfo`
              })
            }).fail((e) => {
              if(e.status === 400) {
                if(e.hasOwnProperty('responseJSON')) {
                  const response = e['responseJSON'];
                  ValidationError.setValidationMssg('updt-form', response)
                }
              }
            })

          }
        })
      })

      /* 비밀번호 & 비밀번호 체크 validation 체크 */
      passwordInput.on('input', validatePassword);
      passwordChkInput.on('input', validatePassword);
    })

    function validatePassword() {
      const passwordVal = passwordInput.val()
      const passwordChkVal = passwordChkInput.val()
      if(passwordVal && passwordChkVal) {
        if(passwordVal !== passwordChkVal) passwordChkInput.addClass('is-invalid')
        else passwordChkInput.removeClass('is-invalid')
      }

      if(passwordVal) {
        if(passwordVal.length >= 8 && passwordVal.length <= 20) passwordInput.removeClass('is-invalid')
        else passwordInput.addClass('is-invalid')
      }
    }

    function formatPhoneNumber(){
      const input = $("#userTel");
      let value = input.val().replace(/\D/g, '');
      if (value.length > 3 && value.length <= 7) value = value.slice(0, 3) + '-' + value.slice(3);
      else if(value.length > 7 && value.length < 10) value = value.slice(0, 3) + '-' + value.slice(3);
      else if (value.length >= 10 && value.length < 11) value = value.slice(0, 3) + '-' + value.slice(3, 6) + '-' + value.slice(6, 10);
      else if (value.length >= 11)value = value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7, 11);
      input.val(value);
    }
  </script>
</th:block>
</html>