<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebar-menu">
  <!-- Mobile Menu start -->
  <div class="off-canvas-active">
    <a class="off-canvas-close"><i class=" ti-close "></i></a>
    <div class="off-canvas-wrap">
      <div class="welcome-text off-canvas-margin-padding">
        <p>Default Welcome Msg! </p>
      </div>
      <div class="mobile-menu-wrap off-canvas-margin-padding-2">
        <div id="mobile-menu" class="slinky-mobile-menu text-left">
          <ul>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu end -->
  <script th:src="@{'/assets/js/vendor/jquery-3.6.0.min.js'}"></script>
  <script th:inline="javascript">
  
  var mMenuObj = {

    menuDataUrl: "/assets/data/menu_data.json",
        
    getMenuData: async function () {

        let response = await fetch(this.menuDataUrl);

        if (!response.ok) {

            throw new Error("Failed to fetch menu data");
        }
        return await response.json();
    },

    createMenu: async function (targetEle) {

        try {
            
            // 메뉴 데이터 가져오기
            let menuDataObj = await this.getMenuData();
            const self = this; // `this` 참조 유지

            $.each(menuDataObj, function (idx, val) {

                const topMenuEle = self.createMobileMenuElement(val); // `self`로 메서드 호출
                targetEle.append(topMenuEle);
            });

            mMenuObj.loadSlinkyStyle();
        } 
        catch (error) {

            console.error("Error fetching menu data:", error);
        }
    },

    createMobileMenuElement: function (_menuObj) {

        const liEle = $("<li/>");
        const aEle = $("<a/>").text(_menuObj.name);

        if (_menuObj.link) {

            aEle.attr("href", _menuObj.link)
                .addClass("menu-a-link")
                .attr("data-uid", _menuObj['uid']);
        } 
        else{

          aEle.attr("href", "#");
        }

        liEle.append(aEle);

        // 하위 메뉴가 있는 경우
        if (_menuObj.subMenu && Array.isArray(_menuObj.subMenu)) {

          let ulEle = $("<ul/>");

          $.each(_menuObj.subMenu, (idx, subMenuObj) => {

            const subMenuEle = this.createMobileMenuElement(subMenuObj);
            ulEle.append(subMenuEle);
          });

          liEle.append(ulEle);
        }

        return liEle;
    },

    // [TODO] 모바일 메뉴에 메뉴데이터를 동적으로 넣으면 시점차 때문에 정상동작이 안되서 main.js에 선언된 아래 로직을 재호출함(개선 필요)
    loadSlinkyStyle : function(){

      /*====== mobile-menu active ======*/
      const slinky = $('#mobile-menu').slinky();
      const slinky2 = $('#mobile-currency').slinky();
      const slinky3 = $('#mobile-language').slinky();
      
      /*====== off canvas active ======*/
      function mobileMainMenu() {
          var navbarTrigger = $('.mobile-menu-active-button'),
              endTrigger = $('.off-canvas-close'),
              container = $('.off-canvas-active'),
              wrapper = $('.main-wrapper-2');
          
          wrapper.prepend('<div class="body-overlay-2"></div>');
          
          navbarTrigger.on('click', function(e) {
              e.preventDefault();
              container.addClass('inside');
              wrapper.addClass('overlay-active-2');
          });
          
          endTrigger.on('click', function() {
              container.removeClass('inside');
              wrapper.removeClass('overlay-active-2');
          });
          
          $('.body-overlay-2').on('click', function() {
              container.removeClass('inside');
              wrapper.removeClass('overlay-active-2');
          });
      };
      mobileMainMenu();
    },
  };

  $(function() {

    let mobileMenuWrap = $("#mobile-menu ul");
    mMenuObj.createMenu(mobileMenuWrap);
  });

  </script>
</th:block>

</html>