<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
    <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
        <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="head">
    <link rel="stylesheet" th:href="@{'/assets/css/page/admin/mobigen-metadata.css'}" />
</th:block>

<th:block layout:fragment="content">
    <div class="related-product-area pb-100 pt-80" data-aos="fade-up" data-aos-delay="200">
        <div class="container">

            <div class="section-title-2 st-border-center text-center mb-35">
                <h2>데이터셋 수정</h2>
            </div>
            <hr>

            <!-- s:buttons -->
            <div>
                <div class="d-flex justify-content-end pe-4">
                    <div class="btn-container" style="margin-top: 0px !important;">
                        <!-- 왼쪽 버튼 -->
                        <!-- 오른쪽 버튼들 -->
                        <div class="right-buttons">
                            <button type="button" class="custom-button" id="list-btn">목록</button>
                            <button id="period-submit-btn" class="custom-button">수정하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- e:buttons -->

            <!-- s: 신규 데이터셋 등록 -->
            <div class="card card-custom" style="margin-top: 10px">
                <h4>주기성 데이터 수정 화면</h4>
                <!-- 메타데이터 업로드 -->
                <div class="file-row">
                    <label>메타데이터 파일</label>
                    <div class="file-display">
                        <div class="file-row" style="position: relative;">
                            <input type="text" id="period-meta-filename"
                                   th:value="${view?.metadataFiles.get(0).orgFileNm}"
                                   style="background-color: #f5f5f5 !important; color: #666 !important;"
                                   class="file-text" placeholder="선택된 파일 없음" readonly>
                        </div>
                    </div>
                </div>

                <!-- 기본정보 -->
                <div class="basic-info">

                    <div class="header">기본 정보</div>

                    <!-- 1행 -->
                    <div class="row">
                        <div class="col-lg-12 items">
                            <label for="period-title">컨텐츠 제목</label>
                            <input type="text" id="period-title" name="title"
                                   th:value="${view?.title}"
                                   class="form-control" placeholder="제목을 입력하세요." required>
                        </div>
                    </div>

                    <!-- 2행 -->
                    <div class="row select2-row">
                        <div class="col-lg-6">
                            <label for="period-tags">태그</label>
                            <div class="mt-2">
                                <select class="select2 round border_line" id="period-tags" multiple></select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="period-category">카테고리</label>
                            <div class="mt-2">
                                <select class="select2 round border_line" id="period-category" multiple></select>
                            </div>
                        </div>
                    </div>

                    <!-- 3행 -->
                    <div class="row">
                        <div class="col-lg-6 items metadata-description">
                            <label for="period-description">컨텐츠 설명</label>
                            <div id="period-description"></div>
                        </div>
                        <div class="col-lg-6 items">
                            <label for="period-metadata">메타데이터(JSON)</label>
                            <textarea id="period-metadata" name="metadata"
                                      class="form-control" style="height:200px;" required></textarea>
                        </div>
                    </div>
                </div>

                <!-- 실데이터 업로드 -->
                <div class="file-row">
                    <label>실 데이터</label>

                    <div class="file-display">
                        <div class="file-row" style="position: relative;">
                            <input type="text" id="period-data-filename" class="file-text" placeholder="선택된 파일 없음" readonly>
                            <button type="button" id="period-data-clear" class="clear-file">×</button>
                        </div>

                    </div>
                    <button type="button" class="file-btn" id="period-data-upload-btn">실데이터 업로드</button>
                    <div id="period-data-uploader" style="display: none;"></div>
                </div>

            </div>
            <!-- e: 신규 데이터셋 등록 -->

        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/admin/mobigen/mobigen-dataset-control-form.js'}"></script>
    <script th:inline="javascript">

        const view = [[${view}]]
        console.log(">>> view : ", view)

        $(document).ready(function() {

            // ===============================
            // 주기성 데이터 등록 > 카테고리
            // ===============================
            $("#period-category").select2({
                placeholder: "카테고리 선택",
                language: {
                    searching: function() {
                        return "검색 중..."; // 검색 중 텍스트 변경
                    },
                    noResults: function() {
                        return "결과가 없습니다"; // 결과 없음 텍스트 변경
                    },
                    inputTooLong: function(n) {
                        return "너무 깁니다. "+(n.input.length-n.maximum)+" 글자 지워주세요."
                    }
                },
                tags: true,
                maximumInputLength: 30,
                data:  view['categories'].map(item => ({
                    id: item['categoryUid'],
                    text: item['categoryNm'],
                    selected: true
                })),
                ajax: {
                    url: '/api/admin/dataset-category/list',
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data, params) {
                        return {
                            results: data.map(item => ({
                                id: item['categoryUid'],
                                text: item['categoryNm']
                            })),
                        };
                    },
                },
                createTag: function (params) {
                    const term = $.trim(params.term);
                    if (term === '') { return null; }
                    return {
                        id: term,
                        text: term,
                        newTag: true
                    }
                },
            });


            $("#period-tags").select2({
                placeholder: "태그 선택",
                language: {
                    searching: function() {
                        return "검색 중..."; // 검색 중 텍스트 변경
                    },
                    noResults: function() {
                        return "결과가 없습니다"; // 결과 없음 텍스트 변경
                    },
                    inputTooLong: function(n) {
                        return "너무 깁니다. "+(n.input.length-n.maximum)+" 글자 지워주세요."
                    }
                },
                tags: true,
                maximumInputLength: 30,
                data:  view['tags'].map(item => ({
                    id: item['tagUid'],
                    text: item['tagNm'],
                    selected: true
                })),
                ajax: {
                    url: '/api/admin/dataset-tag/list',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            tagNm: params.term,
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data.map(item => ({
                                id: item['tagUid'],
                                text: item['tagNm']
                            })),
                        };
                    },
                },
                createTag: function (params) {
                    const term = $.trim(params.term);
                    if (term === '') { return null; }
                    return {
                        id: term,
                        text: term,
                        newTag: true
                    }
                },
            });
        });

        $(function () {

            mobigenDatasetFormJS.initRealdataUploader("period-data-filename", "period-data-uploader", null);
            mobigenDatasetFormJS.initCkEditor("period-description", view['description']);

            $("#list-btn").on('click', function () {
                window.location.href = '/admin/mobigen/dataset'
            });

            // ===============================
            // 주기성 데이터 등록 > metadata textarea
            // ===============================
            const parsed = JSON.parse(view['metadata']);
            const pretty = JSON.stringify(parsed, null, 2);
            $("#period-metadata").val(pretty);

            // ===============================
            // 주기성 데이터 등록 > 실데이터 파일 > 업로드, 삭제
            // ===============================
            $("#period-data-upload-btn").on('click', function () {
                mobigenDatasetFormJS.realdataFileUpload();
            });
            $("#period-data-clear").on('click', function () {
                mobigenDatasetFormJS.realdataFileDelete();
            });

            // ===============================
            // 주기성 버튼 클릭 이벤트
            // ===============================
            $('#period-submit-btn').click(function(){
                mobigenDatasetFormJS.periodSaveClickEvent(view['uid'], view['realdataFileUid']);
            });
        });
    </script>
</th:block>
</html>