<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
  <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
    <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
  </th:block>
</th:block>

<th:block layout:fragment="head">
  <link rel="stylesheet" th:href="@{'/assets/css/page/admin/mobigen-metadata.css'}" />
  <link rel="stylesheet" th:href="@{'/assets/css/page/system/user-list.css'}"/>
</th:block>

<th:block layout:fragment="content">
  <div class="related-product-area pb-100 pt-80"  data-aos="fade-up" data-aos-delay="200">
    <div class="container">
      <div class="section-title-2 st-border-center text-center mb-35">
        <h2>모비젠 데이터 관리</h2>
      </div>
      <hr>

      <div>
        <!-- s:search -->
        <form id="search-form-id">
          <div class="topbar-container">
            <div class="topbar-left">
              <span id="total-num"></span>
              <div class="btn-wrapper">
                <!--<div class="col-12 col-xl-12 mb-1 mb-lg-0">
                  <div class="search_wrap">
                    <input
                        type="text"
                        id="search_txt1"
                        class="form-control round border_line custom-input"
                        name="registrantId"
                        placeholder="등록자 아이디"
                    />
                  </div>
                </div>-->
              </div>
            </div>
            <div class="topbar-right">
              <div class="btn-wrapper">
                <button type="button" class="custom-button m-2" id="package-new-btn">패키지<br>데이터셋 등록</button>
                <button type="button" class="custom-button m-2" id="new-btn">데이터셋 등록</button>
                <button type="button" class="custom-button m-2" id="delete-btn">데이터셋 삭제</button>
              </div>
            </div>
          </div>
        </form>
        <!-- e:search -->

        <!-- s:list -->
        <div class="">
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered" id="mobigen-dataset-table">
              <thead>
                <tr>
                  <th></th>
                  <th>번호</th>
                  <th>제목</th>
                  <th>등록자</th>
                  <th>등록일</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <!-- e:list -->
      </div>

    </div>
  </div>
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{'/assets/js/page/admin/mobigen/mobigen-dataset-control-list.js'}"></script>
  <script th:inline="javascript">

    $(document).ready(function() {
      const string = window.localStorage.getItem('mobigen_obj')
      const obj = JSON.parse(string)
      new Promise((resolve, reject) => {
        mobigenDatasetListJS.initTable( (obj && obj['pageNumber']) ? obj['pageNumber'] : 1 );
        resolve();
      }).then(() => {
        mobigenDatasetListJS.table._table.draw('page')
        window.localStorage.removeItem('mobigen_obj')
      })
    });

    function setSearchOption() {
      const obj = {
        pageNumber: mobigenDatasetListJS.table._data.number
      }
      const string = JSON.stringify(obj);
      window.localStorage.setItem('mobigen_obj', string);
    }

    $(function () {

      $("#new-btn").on('click', function () {
        setSearchOption();
        window.location.href = '/admin/mobigen/dataset/save';
      });

      $("#package-new-btn").on('click', function () {
        setSearchOption();
        window.location.href = '/admin/mobigen/dataset/package/save';
      });

      $("#delete-btn").on('click', function () {
        mobigenDatasetListJS.deleteDatasetClickEvent();
      });

      $('#search_txt1').keypress(function (e) {
        if (e.keyCode === 13 || e.keyCode === 10 || e.key === 'Enter') {
          e.preventDefault();
          mobigenDatasetListJS.searchTable();
        }
      });
    });

  </script>
</th:block>
</html>