<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="center-image">
  <th:block th:with="title1=${currentPageName}, title2=${navigation}, leftImg=${centerLeftImage}, rightImg=${centerRightImage}">
    <th:block th:replace="fragments/center-image :: main-image-title(${title1}, ${title2}, ${leftImg}, ${rightImg})"></th:block>
  </th:block>
</th:block>

<th:block layout:fragment="head">
  <style>
    .dataTable tr.odd:hover,
    .dataTable tr.even:hover {
      cursor: pointer; /* 선택적으로 커서도 포인터로 */
    }
  </style>
  <style>
    .line {
      border-top: 1px solid #eff3f8;
      height: 1px;
    }
    .search-card {
      padding: 1.5rem 0;
    }
  </style>
  <link rel="stylesheet" th:href="@{'/assets/css/page/system/user-list.css'}"/>
</th:block>

<th:block layout:fragment="content">
  <div class="related-product-area pb-100 pt-80"  data-aos="fade-up" data-aos-delay="200">
    <div class="container">
      <div class="section-title-2 st-border-center text-center mb-35">
        <h2>데이터 진열 관리</h2>
      </div>
      <hr>

      <div>
        <!-- s:search -->
        <div class="card-body search-card">
          <form class="needs-validation" novalidate="" id="search-form-id">
            <div class="row mb-1">
              <div class="col-12 col-xl-2 mb-1 mb-lg-0">
                <select class="form-select round select_line custom-input" id="showAt" name="showAt">
                  <option value="">노출여부 전체</option>
                  <option value="Y">공개</option>
                  <option value="N">비공개</option>
                </select>
              </div>
              <div class="col-12 col-xl-2 mb-1 mb-lg-0">
                <select class="form-select round select_line custom-input" id="uiTypeCd" name="uiTypeCd">
                  <option value="">UI유형 전체</option>
                  <option th:each="entry : ${uiType}"
                          th:value="${entry.key}"
                          th:text="${entry.value?.description}"
                          th:data-thumbnail="${entry.value?.useThumbNail}"
                          th:data-title="${entry.value?.useTitle}"
                          th:data-summary="${entry.value?.useSummary}">
                  </option>
                </select>
              </div>
              <div class="col-12 col-xl-2 mb-1 mb-lg-0">
                <select class="form-select round select_line custom-input" id="dataTarType" name="dataTarType">
                  <option value="">원본데이터셋 타겟 전체</option>
                  <option th:each="entry : ${targetType}"
                          th:value="${entry.value}"
                          th:text="${entry.key}">
                  </option>
                </select>
              </div>
              <div class="col-12 col-xl-3 mb-1 mb-lg-0">
                <select class="select2 round border_line" id="categoryUid" name="categories" multiple></select>
              </div>
              <!--<div class="col-12 col-xl-4"></div>-->
            </div>
          </form>
        </div>
        <!-- e:search -->

        <div class="line"></div>

        <!-- s:button-handle -->
        <div class="card-body search-card">
          <div class="topbar-container">
            <div class="topbar-left">
              <span id="total-num"></span>
              <ul class="btn_toplist">
                <li>
                  <button type="button" class="custom-button m-2" id="delete-btn">
                    <span>진열 등록된<br>데이터셋 삭제</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="custom-button m-2" id="showY-btn">
                    <span>진열 등록된<br>데이터셋 공개</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="custom-button m-2" id="showN-btn">
                    <span>진열 등록된<br>데이터셋 비공개</span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="topbar-right">
              <div class="btn-wrapper">
                <button type="button" class="custom-button m-2" id="new-btn">데이터셋<br>진열하기</button>
              </div>
            </div>
          </div>
        </div>
        <!-- e:button-handle -->

        <!-- s:list -->
        <div class="">
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered" id="approved-dataset-table">
              <thead>
                <tr>
                  <th></th>
                  <th>번호</th>
                  <th>데이터셋 제목</th>
                  <th>카테고리</th>
                  <th>UI유형</th>
                  <th>원본데이터셋<br>타겟</th>
                  <th>노출여부</th>
                  <th>승인자</th>
                  <th>승인일</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <!-- e:list -->
      </div>

    </div>
  </div>
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{'/assets/js/page/admin/approved/approved-dataset-control.js'}"></script>
  <script th:inline="javascript">

    $(document).ready(function() {

      const string = window.localStorage.getItem('approved_obj')
      const obj = JSON.parse(string)
      if(obj) {
        if(obj['showAt']) $("#showAt").val(obj['showAt']).trigger("change")
        if(obj['uiTypeCd']) $("#uiTypeCd").val(obj['uiTypeCd']).trigger("change")
        if(obj['dataTarType']) $("#dataTarType").val(obj['dataTarType']).trigger("change")
      }
      approvedDatasetJS.initCategorySearch( (obj && obj['categoryUid']) ? obj['categoryUid'] : [] )
          .then(() => {
            approvedDatasetJS.initTable( (obj && obj['pageNumber']) ? obj['pageNumber'] : 1 );
          }).then(() => {
            approvedDatasetJS.table._table.draw('page')
            window.localStorage.removeItem('approved_obj')
          });
    });

    function setSearchOption() {
      const obj = {
        pageNumber: approvedDatasetJS.table._data.number,
        uiTypeCd: $("#uiTypeCd").val(),
        dataTarType: $("#dataTarType").val(),
        showAt: $("#showAt").val(),
        categoryUid: $("#categoryUid").val()
      }
      const string = JSON.stringify(obj);
      window.localStorage.setItem('approved_obj', string);
    }

    $(function () {

      $("#new-btn").on('click', function () {
        setSearchOption();
        window.location.href = '/admin/approved/dataset/save'
      });

      // 원본데이터셋 타겟 > 조회 이벤트
      $('#dataTarType').on('change', function () {
        approvedDatasetJS.searchTable();
      });

      // 데이터셋 UI유형 > 조회 이벤트
      $('#uiTypeCd').on('change', function () {
        approvedDatasetJS.searchTable();
      });

      // 데이터셋 공개/비공개 > 조회 이벤트
      $('#showAt').on('change', function () {
        approvedDatasetJS.searchTable();
      });

      // 데이터셋 삭제 > 버튼 클릭 이벤트
      $("#delete-btn").on('click', function () {
        approvedDatasetJS.approvedDatasetClickEvent('delete');
      });

      // 데이터셋 공개 > 버튼 클릭 이벤트
      $("#showY-btn").on('click', function () {
        approvedDatasetJS.approvedDatasetClickEvent('showY');
      });

      // 데이터셋 비공개 > 버튼 클릭 이벤트
      $("#showN-btn").on('click', function () {
        approvedDatasetJS.approvedDatasetClickEvent('showN');
      });

      // 카테고리 > select2 > 검색
      $("#categoryUid").select2({
        placeholder: '카테고리 검색',
        language: {
          noResults: function() {
            return "검색 결과가 없습니다.";
          }
        }
      });
      $('#categoryUid').on('select2:select select2:unselect change', function (e) {
        approvedDatasetJS.searchTable();
      });

    });

  </script>
</th:block>
</html>