<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{'/assets/js/page/manager/user-form-info.js'}"></script>
<script th:inline="javascript">
    $(function () {

        /* == 그룹/부서 변경 == */
        $("#userDept-choose").on('click', function() {
            userFormInfo.userDeptChange($("#userDept-uid").val());
        });
        $("#change-dept-select-btn").on('click', function () {
           userFormInfo.chooseDept();
        });
        $("#change-dept-cancel-btn").on('click', function () {
            userFormInfo.cancelChooseDept();
        });

        $("#save-btn").on('click', function () {
            userFormInfo.submitForm();
        });


        $("#userJbgd").select2({
            placeholder: "직책 선택",
            language: {
                noResults: function(term) {
                    console.log("term: ", term)
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userDepth").select2({
            placeholder: "그룹/부서 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userTeam").select2({
            placeholder: "팀 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userInfo").select2({
            placeholder: "항목명 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
    });
</script>
</html>
