<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="userFormInfoTab">
  <div class="row custom-row" style="margin-bottom: 25px;" data-aos="fade-up" data-aos-delay="200">

    <!-- 탭 컨텐츠 영역 -->
    <div class="myaccount-content">
      <h3>사용자 정보</h3>
      <div class="account-details-form">
        <form id="user-info-form">

          <div class="row custom-row">
            <div class="col-lg-6 info-col">
              <div class="single-input-item">
                <label for="userNm" class="custom-label">이름</label>
                <input class="form-control custom-input" type="text" id="userNm" name="userNm" th:value="${form?.userNm}" placeholder="이름을 입력하세요.">
              </div>
            </div>
            <div class="col-lg-6 info-col">
              <div class="single-input-item">
                <label for="userId" class="custom-label">ID</label>
                <input class="form-control custom-input" type="text" id="userId" name="userId" readonly="" disabled="" th:value="${form?.userId}">
              </div>
            </div>
          </div>

          <div class="row custom-row">
            <div class="col-lg-6">
              <label for="userGroup-form" class="custom-label">소속</label>
              <div id="userGroup-form" class="custom-check-form-flex">
                <div class="form-check">
                  <input type="radio" id="user-status-0" name="userStatus-change" class="form-check-input" value="APPROVED" required="">
                  <label class="form-check-label" for="user-status-0">사용중</label>
                </div>

                <div class="form-check">
                  <input type="radio" id="user-status-1" name="userStatus-change" class="form-check-input" value="WAIT" checked="" required="">
                  <label class="form-check-label" for="user-status-1">승인 대기</label>
                </div>

                <div class="form-check">
                  <input type="radio" id="user-status-2" name="userStatus-change" class="form-check-input" value="STOP" required="">
                  <label class="form-check-label" for="user-status-2">정지</label>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <label for="userJbgd-form" class="custom-label">소속</label>
              <div id="userJbgd-form" class="custom-check-form-flex">
                <div class="form-check">
                  <input type="radio" id="user-jbgd-0" name="userJbgd-change" class="form-check-input" value="APPROVED" required="">
                  <label class="form-check-label" for="user-status-0">사용중</label>
                </div>

                <div class="form-check">
                  <input type="radio" id="user-jbgd-1" name="userJbgd-change" class="form-check-input" value="WAIT" checked="" required="">
                  <label class="form-check-label" for="user-status-1">승인 대기</label>
                </div>

                <div class="form-check">
                  <input type="radio" id="user-jbgd-2" name="userJbgd-change" class="form-check-input" value="STOP" required="">
                  <label class="form-check-label" for="user-status-2">정지</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row custom-row">
            <div class="col-lg-6 info-col">
              <label for="userDept" class="custom-label">그룹/부서</label>
              <div class="input-group">
                <input type="text" id="userDept" name="userDept" class="form-control custom-input" required="" placeholder="그룹/부서를 선택하세요.">
                <button class="custom-button" id="userDept-choose" type="button" data-bs-toggle="modal" data-bs-target="#searchModal">선택</button>
              </div>
            </div>
            <div class="col-lg-6 info-col">
              <div class="single-input-item">
                <label for="userTel" class="custom-label">연락처</label>
                <input class="form-control custom-input" type="text" id="userTel" name="userTel" value="010-1234-5678" placeholder="010-1234-5678">
              </div>
            </div>
          </div>

          <div class="row custom-row">
            <div class="col-lg-6">
              <div style="margin-bottom: 20px;">
                <label for="userTeam" class="custom-label">팀명</label>
                <div>
                  <select class="select2 form-select round border_line" id="userTeam" name="userTeam" multiple>
                    <option value="">팀명 전체</option>
                    <option value="test1">팀명1</option>
                    <option value="test2">팀명2</option>
                    <option value="test3">팀명3</option>
                    <option value="test4">팀명4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6 info-col">
              <div class="single-input-item">
                <label for="userAddr" class="custom-label">주소</label>
                <input class="form-control custom-input" type="text" id="userAddr" name="userAddr" value="서울 구로구 디지털로 33길 50">
              </div>
            </div>
          </div>

          <div class="row custom-row">
            <div class="col-lg-6">
              <div style="margin-bottom: 20px;">
                <label for="userInfo" class="custom-label">항목명</label>
                <div>
                  <select class="select2 form-select round border_line" id="userInfo" name="userInfo" multiple>
                    <option value="">항목명 전체</option>
                    <option value="test1">항목명1</option>
                    <option value="test2">항목명2</option>
                    <option value="test3">항목명3</option>
                    <option value="test4">항목명4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6 info-col">
              <div>
                <label for="upload-container-userDoc" class="custom-label">증빙서류</label>
                <div>
                  <div id="upload-container-userDoc" class="mt-1"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="custom-btn-wrap">
            <button class="custom-button" id="cancel-btn">취소</button>
            <button class="custom-button" id="save-btn">변경 적용</button>
          </div>

        </form>

      </div>
    </div>

  </div>
</th:block>
</html>