<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{'/assets/js/page/manager/user-form-info.js'}"></script>
<script th:inline="javascript">
    $(function () {

        console.log("user-form-info :: 사용자 정보 script")
        userFormInfo.initUploader(null)

        $("#userJbgd").select2({
            placeholder: "직책 선택",
            language: {
                noResults: function(term) {
                    console.log("term: ", term)
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userDepth").select2({
            placeholder: "그룹/부서 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userTeam").select2({
            placeholder: "팀 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
        $("#userInfo").select2({
            placeholder: "항목명 선택",
            language: {
                noResults: function() {
                    return "검색 결과가 없습니다.";
                }
            }
        });
    });
</script>
</html>
