<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

    $(function () {

        $('.tab-header-custom a').on('click', function () {
            $('.tab-header-custom a').removeClass('active');
            $(this).addClass('active');
            $('.tab-pane-custom').removeClass('show active');
            const target = $(this).data('target');
            $(target).addClass('show active');
        });
        $('.bbsctt-header a').on('click', function () {
            $('.bbsctt-header a').removeClass('active');
            $(this).addClass('active');
            $('.tab-pane-bbsctt-custom').removeClass('show active');
            const target = $(this).data('target');
            $(target).addClass('show active');
        });
        $('.answer-header a').on('click', function () {
            $('.answer-header a').removeClass('active');
            $(this).addClass('active');
            $('.tab-pane-answer-custom').removeClass('show active');
            const target = $(this).data('target');
            $(target).addClass('show active');
        });

    });

</script>
</html>
