<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="divTabDetailReport">
  <div class="row" style="margin-bottom: 25px;">
    <div class="container">
      <div id="tabRating" class="ratting-form-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="blog-details-wrapper mb-40" data-aos="fade-up" data-aos-delay="200">
          <div class="sidebar-widget">
            <div class="sidebar-widget-title-2 mb-25">
                <h3>평점 등록</h3>
            </div>
          </div>
          <div class="grand-total-wrap">
            <div class="grand-total-content" style="padding: 0px; background: transparent;">
              <div class="grand-shipping" style="padding: 0px; display: flex; justify-content: space-between; align-items: center;">
                <ul style="display: flex; gap: 30px; align-items: center; padding: 0px;">
                  <li style="margin: 0px;">
                    <input type="radio" name="tab-ratting-group" id="rdoOpinion" value="opinion" checked="checked">
                    <label for="rdoOpinion">의견</label>
                  </li>
                  <li style="margin: 0px;">
                    <input type="radio" name="tab-ratting-group" id="rdoInquiry" value="question">
                    <label for="rdoInquiry">문의</label>
                  </li>
                  <li style="margin: 0px;">
                    <input type="radio" name="tab-ratting-group" id="rdoError" value="report">
                    <label for="rdoError">오류신고</label>
                  </li>
                </ul>
                <div class="your-rating tab-state">
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                  <i class="ti-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="ratting-form">
            <form action="#">
                <div class="row">
                  <div class="col-md-12">
                      <div class="rating-form-style mb-15">
                        <input type="text" placeholder="데이터에 대한 의견 또는 문의, 오류신고 등록">
                        <div class="form-submit" style="display: flex; justify-content: end;">
                          <div class="page-more-update-wrapper btn-control-wrapper">
                            <div class="page-more-update btn-hover">
                              <a href="javascript:void(0);" id="btnTabRatingSubmit">
                                <span>등록하기</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>

      <div id="ratingList" class="blog-details-wrapper">
        <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
          <div class="sidebar-widget-title-2 mb-25">
              <h3>평점 조회</h3>
          </div>
          <div class="sidebar-list-style-2">
              <ul>
                  <li><a href="javascript:void(0);">전체 (<span id="all">0</span>)</a></li>
                  <li><a href="javascript:void(0);">의견 (<span id="opinion">0</span>)</a></li>
                  <li><a href="javascript:void(0);">문의 (<span id="question">0</span>)</a></li>
                  <li><a href="javascript:void(0);">오류신고 (<span id="report">0</span>)</a></li>
              </ul>
          </div>
        </div>

        <div class="blog-comment-wrapper">
        </div>
      </div>

    </div>
  </div>
</th:block>
</html>